:root {
  --box-shadow: 0 1px 3px rgba(0,0,0,0.12);
}

* {
  box-sizing: border-box;
}

body {
  background-color: #f7f7f7;
  font-family: Arial, sans-serif;
  display: flex;
  justify-content: center;
  margin: 0;
}

.container {
  margin: 30px auto;
  width: 350px;
}

h1 {
  letter-spacing: 1px;
  margin: 0;
}
